<%# CSS・・・assets/stylesheets/shared/header.css %>
<header class="header">
  <div class="header-inner">
    <h1 class="header-logo">
      <%= link_to 'Shunsuke Portfolio', "/", class: "" %>
    </h1>
  </div>
  <div class='header-nav'>
    <ul class='header-nav-list'>
      <li><%= link_to 'Works', "#", class: "header-nav-item" %></li>
      <li><%= link_to 'Skill', "#", class: "header-nav-item" %></li>
      <li><%= link_to 'Contact', "#", class: "header-nav-item" %></li>
    </ul>
  </div>
</header>